$primary-color: #fff;
$border-radius: 10px;
$btn-primary-color: black;
$btn-default-font-size: 28px;
$btn-primary-font-size: 36px;
$btn-default-wrap-size: 32px;
$btn-primary-wrap-size: 48px;

.wrapper {
  width: 180px;
  border-radius: $border-radius;
  background: $primary-color;
  // padding: 6px 8px;
  margin: 10px 0;

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    width: $btn-default-wrap-size;
    height: $btn-default-wrap-size;
    font-size: $btn-default-font-size;

    &.primary {
      font-size: $btn-primary-font-size;
      height: $btn-primary-wrap-size;
      width: $btn-primary-wrap-size;
    }

    &:active {
      border-radius: 50%;
      transform: translateZ(0);
      background: #dadbdc;
      color: #0000008a;
    }
  }
}
